body{
    width: 1012px !important;
    margin: auto;
}


.position-absolute{
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    bottom: 0;
    right:0;
    /*margin-top: 15px;*/
}

#name_of_student{
    left: 42%;
    top: 26%;
}

#guardians_contact{
    left: 42%;
    top: 38%;
}

#sex{
    left: 57%;
    top: 38%;
}

#issue-date{
    left: 42%;
    top: 49%;
}

#expiry-date{
    left: 52.5%;
    top: 49%;
}

#card-id{
    left: 42%;
    top: 61%;
}

#qr-code{
    left: 67% !important;
    top: 52.5%;
}
