.header-icon:not(.btn)[data-toggle="dropdown"][aria-expanded="true"]:after {
    content: " ";
    width: 2.5rem;
    height: 2.5rem;
    top: 0.8125rem;
    z-index: -1;
    left: 0.3125rem;
    opacity: 0;
}

.nav-button-dark-theme {
    background: #37393e !important;
    color: white !important;
}

::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    
}

.btn-custom {
    justify-content: center;
    align-items: center;
    height: 40px;
    line-height: normal;
    white-space: nowrap;
    outline: none;
    box-shadow: none;
    border: solid 1px #cccccc;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #484a4c;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: button;
    background: linear-gradient(to bottom, #fff 1%,#e8e8e8 100%);
}

.color-black {
    color: #484a4c !important;
}

.table-head-dark-theme {
    color: #c0c5c9 !important;
}

#google-maps-container {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.google-maps-legends h2{
    font-size: 0.875rem;
}

hr.solid {
    color: rgba(0, 0, 0, 0.07);
    border: 1px solid;
}

.legend-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: black;
}

.legend-dot.target {
    background: #EE3968;
}

.legend-dot.started {
    background: #2198F3;
}

.legend-dot.submitted {
    background-color: black;
}

.legend-dot.printed {
    background: #FFAE42;
}

.legend-dot.delivered {
    background: #74CB40;
}

.progress-bar {
    border-radius: 20px;
}

.progress-bar.target {
    background-color: #EE3968;
}

.text.target {
    color: #EE3968;
}


.progress-bar.started, .project-status.started {
    background: #2198F3;
}

.text.started {
    color: #2198F3;
}

.progress-bar.submitted {
    background: black;
}

.text.submitted {
    color: black;
}

.project-status.submitted {
    background-color: #868E96;
}

.progress-bar.printed, .project-status.printed {
    background: #FFAE42;
}

.text.printed {
    color: #FFAE42;
}

.progress-bar.delivered {
    background: #74CB40;
}

.text.delivered {
    color: #74CB40;
}

.project-status.delivered {
    background-color: #1BC9B6;
}

.project-status.target {
    background-color: #FD6D8E;
}

.progress-bar.population.completed {
    background-color: #2198F3;
}

.js-easy-pie-chart.overall-completion {
    color: #BB1BF4;
}

.js-easy-pie-chart.active-officers {
    color: #51AEF6;
}

.profile-image-project-officer {
    width: 2rem;
    height: auto;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.page-sidebar {
    background-color: #051F33;
    background-image: none;
}

.delivery-theme {
    /*background: #dd5293 !important;*/
    background: linear-gradient(#9198e5 ,#dd5293);
}

.delivery-logo-background {
    background-color: #dd5293 !important;
}

#js-nav-menu li a {
    color: white;
}

#js-nav-menu li a i {
    color: white;
}

.nav-menu li.active:not(.open) > a:before {
    color: #2198F3;
}

.grid  {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
}

.badge-pill {
    padding: 8px 24px;
    box-sizing: border-box;
}

a.badge-pill {
    cursor: pointer;
}

.print-jobs-pending .badge-pill-wrapper .badge-pill, .print-jobs-completed .badge-pill-wrapper .badge-pill{
    /*cursor: default;*/
    cursor: pointer;
}


.print-jobs-pending .badge-pill-wrapper, .print-jobs-completed .badge-pill-wrapper {
    max-width: 100px;
}

.badge-pill.downloading {
    background-color: #BB1BF4;
}

.badge-pill.downloaded {
    background-color: #FD6D8E;
}

.js-easy-pie-chart.percentage-submitted {
    color: #51AEF6;
}

.js-easy-pie-chart.percentage-downloaded {
    color: black;
}

.js-easy-pie-chart.percentage-printed {
    color: #BB1BF4;
}

.js-easy-pie-chart.percentage-delivered {
    color: #52BF11;
}

span.icon {
    padding-right: 12px;
}

span.icon-small {
    padding-right: 6px;
}

.dataTable-schools-table-head {
    background: #A0E0F0;
}

.dataTable-project-officers-table-head {
    background: #A0E0F0;
}

.page-logo {
    background: #2198F3;
}

.page-logo img {
    height: auto;
    width: auto;
}

.modal-header {
    border-bottom: 1px solid #dee2e6;
}

.pac-container {
    z-index: 100000000 !important;
}

span.select2-container * {
    z-index:10050;
}

.dragdropzone-active {
    background: rgba(0, 0, 0, 0.07);
}

.item-row-image img {
    width: 50px;
    height: auto;
}

.underline {
    text-decoration: underline !important;
}


#sid-card-tooltip {
    background-color: white;
    color: white;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 15px rgba(145, 155, 180, 0.30);
    z-index: 9;
}

#sid-card-tooltip img {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#sid-card-tooltip {
    /* ... */
    display: none;
}

#sid-card-tooltip[data-show] {
    display: block;
}

.print-panel-page-breadcrumb ol {
    background: transparent;
}

#card-generator-school-crest {
    top: 4%;
    left: 4%;
    z-index: 9999;
    width: 100%;
}

#card-generator-school-name {
    top: 20%;
    left: 50%;
    right: 50%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    justify-content: center;
    color: black;
    white-space: nowrap;
    
}



#card-generator-school-name span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}

#card-generator-student-name {
    z-index: 999;
   top: 37%;
   left: 36%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
    
}

#card-generator-student-name span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}

#card-generator-student-img {
    top: 37%;
    left: 6%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
    width: 25%;
}

#card-generator-qr-code {
    bottom: 4%;
    right: 3.5%;
    font-weight: 300;
    font-size: 32px;
    color: black;
    width: 15%;
}

#card-generator-guardian-contact-no {
    top: 51%;
    left: 36%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
}

#card-generator-guardian-contact-no span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}


#card-generator-issue-date {
    top: 65%;
    left: 36%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
}

#card-generator-issue-date span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}

#card-generator-id-no {
    bottom: 15%;
    left: 36%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
}

#card-generator-id-no span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}

#card-generator-sex {
    top: 51%;
    right: 31.7%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
}

#card-generator-sex span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}

#card-generator-expiry-date{
    top: 65%;
    left: 54.9%;
    font-weight: 300;
    font-size: 32px;
    display: flex;
    color: black;
}

#card-generator-expiry-date span {
    background: #f1f1f1;
    border: 1px solid #cccccc;
    white-space: nowrap;
}



#card-generator-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.card-generator-overlay {
    background-color: white;
    width: 100%;
    height: 100%;
}

#card-generator-background-img {
    top: 0;
    left: 0;
}

.card-generator-expected-data thead tr td {
    padding: 12px;
}


.card-generator-expected-data tbody tr td {
    padding-left: 12px;
}

#dataTable-job_wrapper {
    margin-bottom: 1rem !important;
}

.grid-col-3 {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-col-3 .badge-pill-wrapper {
    margin-right: 4px;
}

.webkit-box {
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    line-height: 1.1rem;
    max-height: 1.1rem;
  }

.webkit-box:hover {
    overflow: visible;
}

table thead tr th {
    white-space: nowrap;
}

@media screen and (min-width: 1120px) {
    #card-generator-school-crest div {
        width: 14%;
        height: auto;
        font-size: 10px;
        padding: 2px 0px;
    }

    #card-generator-student-img div {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 35% 0%;
    }

    #card-generator-student-name span {
        font-size: 10px;
    }

    #card-generator-guardian-contact-no span {
        font-size: 10px;
    }

    #card-generator-issue-date span {
        font-size: 10px;
    }

    #card-generator-id-no span {
        font-size: 10px;
    }

    #card-generator-expiry-date span {
        font-size: 10px;
    }

    #card-generator-sex span {
        font-size: 10px;
    }

    #card-generator-school-name span {
        font-size: 10px;
    }

    #card-generator-qr-code div {
        font-size: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 19% 0%;
    }

    


}

@media screen and (min-width: 960px) and (max-width: 1120px) {
    #card-generator-school-crest div {
        width: 20%;
        height: auto;
        font-size: 16px;
        padding: 12px 0px;
    }

    #card-generator-student-img div {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40% 0%;
    }

    #card-generator-student-name span {
        font-size: 16px;
    }

    #card-generator-guardian-contact-no span {
        font-size: 16px;
    }

    #card-generator-issue-date span {
        font-size: 16px;
    }

    #card-generator-id-no span {
        font-size: 16px;
    }

    #card-generator-expiry-date span {
        font-size: 16px;
    }

    #card-generator-sex span {
        font-size: 16px;
    }

    #card-generator-school-name span {
        font-size: 16px;
    }

    #card-generator-qr-code div {
        font-size: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 27% 0%;
    }


}

@media screen and (min-width: 800px) and (max-width: 960px) {
    #card-generator-school-crest div {
        width: 20%;
        height: auto;
        font-size: 16px;
        padding: 12px 0px;
    }

    #card-generator-student-img div {
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 40% 0%;
    }

    #card-generator-student-name span {
        font-size: 16px;
    }

    #card-generator-guardian-contact-no span {
        font-size: 16px;
    }

    #card-generator-issue-date span {
        font-size: 16px;
    }

    #card-generator-id-no span {
        font-size: 16px;
    }

    #card-generator-expiry-date span {
        font-size: 16px;
    }

    #card-generator-sex span {
        font-size: 16px;
    }

    #card-generator-school-name span {
        font-size: 16px;
    }

    #card-generator-qr-code div {
        font-size: 16px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22% 0%;
    }

}

@media screen and (min-width: 640px) and (max-width: 800px) {
    #card-generator-school-crest div {
        width: 20%;
        height: auto;
        font-size: 12px;
        padding: 12px 0px;
    }

    #card-generator-student-img div {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 42% 0%;
    }

    #card-generator-student-name span {
        font-size: 12px;
    }

    #card-generator-guardian-contact-no span {
        font-size: 12px;
    }

    #card-generator-issue-date span {
        font-size: 12px;
    }

    #card-generator-id-no span {
        font-size: 12px;
    }

    #card-generator-expiry-date span {
        font-size: 12px;
    }

    #card-generator-sex span {
        font-size: 12px;
    }

    #card-generator-school-name span {
        font-size: 12px;
    }

    #card-generator-qr-code div {
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23% 0%;
    }

}

@media screen and (min-width: 480px) and (max-width: 640px) {
    #card-generator-school-crest div {
        width: 20%;
        height: auto;
        font-size: 12px;
        padding: 2px 0px;
    }

    #card-generator-student-img div {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 38% 0%;
    }

    #card-generator-student-name span {
        font-size: 12px;
    }

    #card-generator-guardian-contact-no span {
        font-size: 12px;
    }

    #card-generator-issue-date span {
        font-size: 12px;
    }

    #card-generator-id-no span {
        font-size: 12px;
    }

    #card-generator-expiry-date span {
        font-size: 12px;
    }

    #card-generator-sex span {
        font-size: 12px;
    }

    #card-generator-school-name span {
        font-size: 12px;
    }

    #card-generator-qr-code div {
        font-size: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 21% 0%;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #card-generator-school-crest div {
        width: 20%;
        height: auto;
        font-size: 10px;
        padding: 2px 0px;
    }
    #card-generator-student-img div {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 35% 0%;
    }

    #card-generator-student-name span {
        font-size: 10px;
    }

    #card-generator-guardian-contact-no span {
        font-size: 10px;
    }

    #card-generator-issue-date span {
        font-size: 10px;
    }

    #card-generator-id-no span {
        font-size: 10px;
    }

    #card-generator-expiry-date span {
        font-size: 10px;
    }

    #card-generator-sex span {
        font-size: 10px;
    }

    #card-generator-school-name span {
        font-size: 10px;
    }

    #card-generator-qr-code div {
        font-size: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7% 0%;
    }

}